.sp-thongbao {
  color: red;
  margin-left: 2px;
  display: none;
}

#SapXepGiam {
  display: none;
}

#content {
  width: 100%;
  background: #74ebd5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ACB6E5, #74ebd5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.myCardHeader,
.myCardFooter {
  background-color: transparent;
}

.form-validation {
  position: absolute;
  font-style: italic;
  right: 8px;
  top: 0;
  z-index: 11;
  margin-top: 4px;
  font-size: 9px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0;
  color: #f5543f;
  transition: .3s;
}

.form-validation-ngaylam {
  position: absolute;
  font-style: italic;
  right: 50px;
  top: 0;
  z-index: 11;
  margin-top: 4px;
  font-size: 9px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0;
  color: #f5543f;
  transition: .3s;
}